#form-main__ocorrencia fieldset:not(:first-of-type){
	display: none;
}
#progress{
	margin-top: -70px;
	text-align: center;
}
#progress{
	margin-bottom: 30px;
	overflow: hidden;
	counter-reset: step;
}
#progress li{
	list-style-type: none;
	color: #008080;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px;
	float: left;
	width: 20%;
	position: relative;
}
#progress li:before{
	content: counter(step);
	counter-increment: step;
	width: 30px;
	display: block;
	line-height: 30px;
	background: silver;
	color: white;
	border-radius: 100%;
		-moz-border-radius:100%;
		-webkit-border-radius: 100%;
		margin: 0 auto 10px auto;
}
#progress li:after{
	content: '';
	width: 100%;
	background: silver;
	height: 2px;
	position: absolute;
	top: 14px;
	left: -50%;
	z-index: -1;
}
 #progress li:first-child:after{
	content: none;
}
 #progress li.active:before, #form-main__ocorrencia #progress li.active:after{
	background: #008080;
	color: white;
}
#form-main__ocorrencia fieldset .btn-next{
	float: right;
	margin-bottom: 10px;
	font-size: 1.3em;
}
#form-main__ocorrencia fieldset .btn-previous{
	float: left;
	margin-bottom: 10px;
	font-size: 1.3em;
	margin-left: 15px;
}
.body-main .body-main__main .body-main__form #form-main__ocorrencia #progress li{
	width: 25%;
}
.body-main .body-main__main .body-main__form #form-main__ocorrencia .progress-two{
	margin-left: 35%;
}
@media (max-width: 960px) {  
    .body-main__height{
		height: auto;
	}
    #form-main__ocorrencia .btn-next{
        float: none;
        width: 100%;
        position: relative;
		left: 0px;
    }
    #form-main__ocorrencia .btn-previous{
        float: none;
        width: 100%;
        margin-bottom: 15px;
        position: relative;
		left: -15px;
    }
}