/* Menu Top*/
.navbar-top{
    background: #2e353d;
    z-index: 10;
    height: 60px;
}
.navbar-top i{
    border-radius: 5px;
}
.navbar-top a{
    font-size: 1.1em;
    color: white;
    z-index: 50;
}
.nav-top .toggle-btn {
  display: none;
}
.navbar-top .navbar-header{
    margin-bottom: 0px;
    margin-top: 5px;
    font-family: 'Oxygen', sans-serif;
    font-family: 'Shrikhand', cursive;
    font-family: 'Days One', sans-serif;
    font-family: 'Shojumaru', cursive;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-family: 'Rye', cursive;
    font-family: 'Emblema One', cursive;
    font-family: 'Chicle', cursive;
    font-family: 'Goblin One', cursive;
}
.navbar-top .navbar-header .brand{
    margin-top: -12px;
}
.navbar-top .navbar-header .brand span{
    font-size: 1.7em;
    text-align: center;
}
.navbar-top .navbar-header .brand img{
    width: 50px;
    margin-top: -14px;
}
.navbar-top .dropdown-menu a{
    font-size: 1.3em;
}
.navbar-top .perfil a:hover{
    color:black;
    background: #C0C0C0;
}
.navbar-top .navbar-header a:focus{
    color:black;
    background: none;
}
.navbar-top .navbar-main{
    margin-top:7px;
    float: right;
}
.navbar-top .perfil a{
    margin-top: 0px;
    margin-bottom: 0px;
}
.navbar-top .logout{
    margin-top: -15px;
    margin-bottom: -1px;
    list-style: none;
}
.navbar-top .icons-menu{
    position: fixed;
    top: 9px;
    left: 1%;
    color:white;
    font-size: 2em;
    display: none;
}
@media (max-width: 960px) {
    .navbar-top{
        position: relative;
    }
    .navbar-top .toggle-btn {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 10 !important;
        padding: 3px;
        background-color: #3f8060;
        color: #ffffff;
        width: 40px;
        text-align: center;
    }
    .navbar-top .perfil{
        display: none;
    }
}