body{
	background: #E6E8EB;
}
/*-------------------Form General--------------*/
/*Form*/
.body-main .body-main__main .body-main__form p{
    font-size: 1.1em;
}
.body-main .body-main__main .body-main__form label{
    font-size: 1.1em;
}
.body-main .body-main__main .body-main__form input{
    font-size: 1.1em;
    height: 38px;
}
.body-main .body-main__main .body-main__form select{
    font-size: 1.1em;
    height: 38px;
}
.body-main .body-main__main .body-main__form .btn-register{
    float: right;
    font-size: 1.2em;
}
.body-main textarea{
	font-size: 1em;
}
.body-main .body-main__main .body-main__form .btn-edit{
    float: right;
    font-size: 1.2em;
}
/*Index*/
.body-main .body-main__main a{
    text-decoration: none;
}
.body-main .body-main__main .actions{
    font-size: 1.4em;
    border: none;
    background: none;
    border-radius: 5px;
    padding: 1px;
}

@media (max-width: 960px) {
	.body-main h1{
		font-size: 1.7em;
	}
    .body-main .body-main__main .body-main__form .btn-register{
        float: none;
        width: 100%;
        margin-bottom: 10px;
    }
    .body-main .body-main__main .body-main__form .btn-edit{
        float: none;
        width: 100%;
    }
    .body-main #progress span{
    	display: none;
    }
}