.highcharts-credits{
	visibility: hidden;
}
.highcharts-button{
	display: none;
}
#result_not_found{
	margin-top: 200px;
	text-align: center;
	font-size: 1.5em;
}
.chart_sexo{
	margin-top: 220px;
}
.chart_funcoes{
	margin-top: 220px;
}
.chart_encaminhamentos{
	margin-top: 30px;
}
.chart_condutas{
	margin-top: 30px;
}
.chart_ocorrencia{
	margin-top: 30px;
	margin-bottom: 10px;
}
#button-print__one{
	float: right;
	margin-top: 20px;
}
@media (max-width: 960px) {
	#search{
		width: 100%;
	}
	#result_not_found{
		margin-top: 340px;
	}
	#button-print__one{
		width: 100%;
		margin-bottom: 10px;
	}
	.col-sm-6{
		width: 100%;
	}
	.col-sm-12{
		width: 100%;
	}
	.chart_sexo{
		margin-top: 180px;
	}
	.chart_funcoes{
		margin-top: 15px;
	}
	.chart_encaminhamentos{
		margin-top: 15px;
	}
	.chart_condutas{
		margin-top: 15px;
	}
	.chart_ocorrencia{
		margin-top: 15px;
		margin-bottom: 10px;
	}
}
@media (max-width: 767px) {
	.chart_sexo{
		margin-top: 335px;
	}
}