.button-print__patient1{
	margin-top: 10px;
	float: right;
}
.button-print__patient2{
	display: none;
}
@media (max-width: 960px) { 
	.button-print__patient1{
		display: none;
	}
	.button-print__patient2{
		display: block;
		width: 100%;
	}
}


@media print {
	h1{
		display: none;
	}
}