body{
    background: #E6E8EB;
}
#main a{
    text-decoration: none;
}
#main .actions{
    font-size: 1.4em;
    color: #FFF;
    border: none;
}
#main .glyphicon-pencil{
    background: #242063;
    padding: 5px;
}
#main .glyphicon-trash{
    background: #b12020;
    padding: 5px;
}
#main .glyphicon-pencil:hover{
    background: black;
}
#main .glyphicon-trash:hover{
    background: black;
}

@media (max-width: 960px) {}